<!DOCTYPE html>
<html>
    <head>
        <title>{%  block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css">
    </head>
    <body>
        {%  block content %}parent{% endblock %}
    </body>
</html>