<!DOCTYPE html>
<html>
    <head>
        <title>{%  block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/styles.css">
        {%  block styles %}parent{% endblock %}
        <script src="example.js"></script>
        {%  block scripts %}parent{% endblock %}
    </head>
    <body>
        {%  block header %}header{% endblock %}
        {%  block content %}content{% endblock %}
        {%  block footer %}footer{% endblock %}
    </body>
</html>