{% extends 'base.html.twig' %}
{% block title %}Upload file{% endblock %}
{% block content %}
    <form action="{{ base_url('/file') }}" enctype="multipart/form-data" method="POST">
        <input type="file" name="files[]" multiple="multiple">
        <input type="submit" value="Upload">
    </form>
    {% if errors is empty and isPost %}
        <p>All the files have been uploaded successfully!</p>
    {% endif %}
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
{% endblock %}