body {
    background-color: #eaeaea;
}
.container {
    padding-top: 20px;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.right-button {
    margin-left: 10px;
}
.carousel h1, .carousel p{
    text-shadow: black 0.1em 0.1em 0.2em;
}