body {
    background-color: #eaeaea;
}
.container {
    padding-top: 20px;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.right-button {
    margin-left: 10px;
}
.carousel h1, .carousel p{
    text-shadow: black 0.1em 0.1em 0.2em;
}
footer .footer-black{
    min-height: 150px;
    color: white;
    background-color: black;
}
footer .footer-black .col-md-3 {
    padding: 50px;
}
footer .footer-black .blue{
    background-color: #007bff;
}